<div class="center hero-unit">
	<h1> Mariko is a Cat: Home</h1>
	<p>
		Home sweet home. Sweet, home. 
	</p>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	
	
</div>


<div class="poop">
<%= link_to image_tag("sixheads.png", alt: "SIX HEADS"), 'http://idealab.ucdavis.edu/software/index.php' %>
	
</div>
