
<footer class="footer">
  <small>
    <a href="http://aramii.com">Aramii</a>
    by Clarf Stickersteain
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://abc.com">News</a></li>
    </ul>
  </nav>
</footei>
